version: '3'

services:
  web:
    build: .
    restart: always
    ports:
      - "80:8888"
    environment:
      - MODE_DEBUG=False
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
